*{
    width: 100%;
}
header{
    background-color: black;
    height: 150px;
    margin-left: 3%;
}
.header-nav{
    display: flex;
    background-color: rgb(38, 35, 35);
    width: 50%;
    height: 25%;
    float: right;
    margin-top: 3%;
    padding: 18px 20px;
  
}
footer{
    background-color: black;
    height: 80px;
    margin-top: 3%;
}
.first-content{
    display: flex;
    gap: 1%;
    margin-top: 7%;
    margin-left: 3%;
}
.search-bar{
    width: 9%;
    float: right;

}
.second-content{
    margin-left: 3%;
    display: flex;
    gap: 7%;
    margin-top: 5%;
}
.footer-nav{
    display: flex;
    /* margin-bottom: 6%; */
    width: 50%;
    height: 40%;
    float: right;
    padding: 18px 20px;
 
}
.details{
    width: 5%;
    height: 8%;
    margin-left: 3%;
    
}
.just{
    width: 8%;
}
.more{
    width: 10% ;
    height: 4%;
}